# emacs temp files
*~
#*#

* MAC
*.DS_STORE
Thumbs.db

*.zip
*.exe
a.out
*.o
*.orig
*.bak
*.bat

*.pyc

# libinteractive
*.cbp
*.layout
*.bat
libinteractive
libinteractive.jar
Makefile

# omegaUp-deploy
solution
omegaUp-deploy
karel.js

# Tests
results/

.vscode
.mypy_cache/
